Repository gatewaymedia/homebrew-tap, pull requests merged in 2023-12, with the labels that each got.

#29 Update gateway-dotfiles.rb
  Casks/gateway-dotfiles.rb
Labels: missing description, missing zap

#30 gateway-dotfiles 20231213
  Casks/gateway-dotfiles.rb
Labels: missing description, missing zap, bump-cask-pr

#31 gateway-dotfiles 20231218
  Casks/gateway-dotfiles.rb
Labels: missing description, missing zap, bump-cask-pr

#32 gateway-dotfiles: minor change
  Casks/gateway-dotfiles.rb
Labels: missing description, missing zap

#33 gateway-dotfiles 20231218,e5bfd63b232dc8e912e44dacb38c51f0f85a2610
  Casks/gateway-dotfiles.rb
Labels: missing description, missing zap, bump-cask-pr

#34 gateway-printer-driver 7.117.3.0
  Casks/gateway-printer-driver.rb
Labels: missing zap, bump-cask-pr
